body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 2em;
}
.section {
    margin-bottom: 2em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .container {
        padding: 1em;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }
    .section {
        margin-bottom: 1em;
    }
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar .icon {
    font-size: 20px;
    margin-right: 10px;
}
.navbar .logo img {
    max-height: 90px; /* Defina a altura máxima desejada para a imagem */
    width: auto;
    vertical-align: middle;
}
.navbar .title {
    color: white;
    font-size: 24px;
    margin-left: 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção original da imagem */
    margin-top: 10px; 
    margin-bottom: 10px; 
}